/*MODIFS BOOTSTRAP*//*MODIFS BOOTSTRAP*/
.col-md-3, .col-lg-2{
	padding-right: 0;
}
.row {
    height:100%;
    margin: 0;
}
.progress-bar-purple{
	background-color: #6c5196; 
}
.progress-bar-php{
	background-color: #8892bf;
}
.progress-bar-css{
	background-color: #28a9df;
}
.progress-bar-html{
	background-color: #f06528;
}
.progress-bar-black{
	background-color: #000000;
}
.progress-bar-photo{
	background-color: #f1c40e;
}
.progress-bar-photoshop{
	background-color: #81bdf9;
}
.progress-bar-illustrator{
	background-color: #ffaa29;
}
.progress-bar-indesign{
	background-color: #e7399d;
}
.progress-bar-adobe{
	background-color: #d21c0b;
}
.progress-bar-montage{
	background-color: #1abc9d;
}
.progress-bar-encours{
	background-color: #33495e;
}
/*MODIFS BOOTSTRAP*//*MODIFS BOOTSTRAP*/
/*HTML-BODY*//*HTML-BODY*/
html,body{
	height:100%;
	font-family: Cool, Verdana, sans-serif;
}
html{
	font-size: 62.5%;
}
body{
	font-size: 2rem;
	letter-spacing:0.3rem;
	background-color: #ecf0f1;
	padding: 0;
}
/*HTML-BODY*//*HTML-BODY*/
/*GENERALE*//*GENERALE*/
a,a:hover{
	text-decoration:none;
}
h1,h2{
	text-align: center;
    width: 90%
}
h2{
	margin: 5rem 0 5rem 0;
}
/*GENERALE*//*GENERALE*/
/*HEADER*//*HEADER*//*HEADER*/
header{
	background-color: #34495E;
	color:#FFFFFF;
	height:100%;
    min-height:100%
}
header ul{
	list-style-type: none;
}
header ul li a{
	color:#FFFFFF;
}
.fixed{
	position:fixed;
	padding-left: 0;
}
.logo{
	display:block;
	height: 100px;
	width: 100px;
	background-color: #FFFFFF;
	margin: 0 auto;
}
.testlogo{
	margin: 2rem auto;
	display:block;
    width: 80%;
    height: auto;
}
.testlogo2{
	margin: 8rem auto;
	display:block;
	color:blue;
}
header p{
	text-align: center;
}
nav{
	margin-top: 2rem;
}
.tmenu{
	color:#FFFFFF;
	margin:1rem auto;
	text-align: left;
	display: inline-block;
	width: 100%;
	padding-left: 1rem;
}
.tmenu:hover{
	color: #34495E;
	background-color: #ecf0f1;
}
/*HEADER*//*HEADER*//*HEADER*/
/*SECTION*//*SECTION*//*SECTION*/

section{
	padding-right: 0;
	background-color: #ecf0f1;
	text-align:center;
}
ul{
	padding: 0;
}
li{
	list-style-type: none;
	text-align: center;
	margin: 2rem;
}
section a img{
	opacity: 0.8;
}
section a:hover img{
	opacity: 1;
}
figure{
	text-align: center;
	margin-top:6rem;
	margin-bottom: 6rem;
}
.intro{
	display:block;
	margin:10rem auto;
}
.back{
	padding:2rem;
	background-color:#44BBFF;
	color:#FFFFFF;
	display:inline-block;
	border-radius:1rem;
	margin:2rem 0 2rem 0;
	text-decoration:none;
}
.back:hover{
	background-color:#FFFFFF;
	color:#44BBFF;
	text-decoration:none;
}
/*SECTION*//*SECTION*//*SECTION*/
/*FOOTER*//*FOOTER*//*FOOTER*/
footer{
	background-color: #171714;
	color:#FFFFFF;
    width:100%;
    text-align: center;
}
/*FOOTER*//*FOOTER*//*FOOTER*/
/*MONCV*//*MONCV*//*MONCV*/
.moncv section{
	margin-top: 2rem;
	background-color: #FFFFFF;
	box-shadow: 0px 2px 4px 0px rgba(119, 119, 119, 0.75);
	-moz-box-shadow: 0px 2px 4px 0px rgba(119, 119, 119, 0.75);
	-webkit-box-shadow: 0px 2px 4px 0px rgba(119, 119, 119, 0.75);
}
.headercv{
	display: flex;
	flex-direction: row;
	justify-content:space-between;
}
.adresse{
	text-align: left;
	width: 25%;
	padding: 2rem;
}
.titrecv{
	width: 70%;
}
.competences{
	display: flex;
	flex-direction: row;
	justify-content:space-around;
}
.headcomp h2{
	padding: 2rem 0 2rem 0;
}
.competences h3{
	margin-bottom: 2rem;
}
.comp_graph, .comp_web{
	width: 45%;
}
.comp_web ul, .comp_graph ul{
	display: flex;
	flex-direction: column;
}
.comp_web ul li, .comp_graph ul li{
	text-align: left;
	margin-top: 1rem;
	margin-bottom: 1rem;
}
.formation h3, .experience h3, .interet h3{
	margin-top: 5rem;
	padding-top: 2rem;
}
/*MONCV*//*MONCV*//*MONCV*/
/*WEB*//*WEB*//*WEB*/
.web{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content:space-around;
}
.web li{
	width: 45%;
}
.web li figure{
	padding: 2rem;
	background-color: #FFFFFF;
	box-shadow: 0px 2px 4px 0px rgba(119, 119, 119, 0.75);
	-moz-box-shadow: 0px 2px 4px 0px rgba(119, 119, 119, 0.75);
	-webkit-box-shadow: 0px 2px 4px 0px rgba(119, 119, 119, 0.75);
}
.web img{
	margin-bottom: 2rem;
	background-color: #FFFFFF;
	box-shadow: 0px 2px 4px 0px rgba(119, 119, 119, 0.75);
	-moz-box-shadow: 0px 2px 4px 0px rgba(119, 119, 119, 0.75);
	-webkit-box-shadow: 0px 2px 4px 0px rgba(119, 119, 119, 0.75);
}
/*WEB*//*WEB*//*WEB*/
/*ENCOURS*//*ENCOURS*//*ENCOURS*/
.encours{
	padding: 4rem;
	text-align: left;
}
/*ENCOURS*//*ENCOURS*//*ENCOURS*/
/*GRAPH*//*GRAPH*//*GRAPH*/
.graphisme ul{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content:space-around;
}
.graphisme li{
	display: inline-block;
}
.graphisme figure{
	display: inline-block;
}
/*GRAPH*//*GRAPH*//*GRAPH*/